<body>
    <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div ng-repeat="page in pages track by $index" ng-class="{active:!$index}" class="item">
                <img ng-src="{{page.src}}" alt="{{page.title}}">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>INDEX</h2></div>
        <div class="panel-body">
            <div class="col-xs-2">
                <h3>Characters</h3>
                <div ng-repeat="page in characters track by $index">
                    <a href="#myCarousel" data-slide-to="{{page.page}}">{{page.title}}</a>
                </div>
            </div>
            <div class="col-xs-2">
                <h3>Moves and Misc.</h3>
                <div ng-repeat="page in moves track by $index">
                    <a href="#myCarousel" data-slide-to="{{page.page}}">{{page.title}}</a>
                </div>
            </div>
        </div>
    </div>
</body>